<!DOCTYPE html><html>
<head>
<link rel="stylesheet" href="pages.css.scss">
<a id="simple-menu" href="#sidr">Toggle menu</a>


</head>
<main>
  <header><h1>Heading</h1></header>
  
  <a id="simple-menu" href="#sidr">Toggle menu</a>
  <div id="sidr">
    <!-- Your content -->
    <ul>
      <li><a href="#">List 1</a></li>
      <li class="active"><a href="#">List 2</a></li>
      <li><a href="#">List 3</a></li>
    </ul>
  </div>
  <button type="button">Learn More<button>



</main>
<div id="support">
  <h2>Sub-heading</h2>
  <p>Is this a valid tagline? I certainly do hope so...</p>
</div>
<div id = "discover">
  <h3>Discover</h3>
  <button type="button">Learn More</button>
</div>

<footer>FOOTER</footer>
</html>